[submodule "project&codes/mandelbrot-viewer"]
	path = project&codes/mandelbrot-viewer
	url = https://github.com/agherzan/mandelbrot-viewer
[submodule "project&codes/multi_try"]
	path = project&codes/multi_try
	url = https://github.com/JoshMcguigan/multi_try.git
[submodule "project&codes/abstreet"]
	path = project&codes/abstreet
	url = https://github.com/dabreegster/abstreet.git
[submodule "project&codes/ifs_fractal"]
	path = project&codes/ifs_fractal
	url = https://github.com/jherman3/ifs_fractal.git
[submodule "project&codes/netease-cloud-music-gtk"]
	path = project&codes/netease-cloud-music-gtk
	url = https://github.com/gmg137/netease-cloud-music-gtk.git
[submodule "project&codes/neat-flappy-bird"]
	path = project&codes/neat-flappy-bird
	url = https://github.com/planet0104/neat-flappy-bird.git
